doctype
html
  head
    meta(charset="utf-8")
    title GraphEffect Request Access
    link(rel="stylesheet", href="css/app.css")

  body
    div.wrap
      h1 Hello World


    script(src="js/vendor.js")
    script
      $(function(){
      });